#ext_btt{position:fixed;right:5px;bottom:5px;padding:0;margin:0;width:32px;height:32px;text-decoration:none;z-index:19881211;}#ext_btt img{width:32px;height:32px;border:none;padding:0;margin:0;opacity:0.5;}#ext_btt img:hover{opacity:1;}